* text=auto eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf
*.map binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.otf binary
*.onnx binary
*.wasm binary
